<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>
    <section class="adminLogin-section">
        <div class="small-container">
            <h1 class="adminLogin-heading">Admin Login</h1>
            <form action="/admin/login" method="POST" class="adminLogin-form">
                <input type="email" placeholder="Your Email" name="email">
                <input type="password" placeholder="Your Password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </section>
</body>
</html>