<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Empty Cart</title>
</head>
<body>
    {{> navbar}}
    <section class="emptyCart-section">
        <div class="container">
            <div class="emptyCart-container">
                <h1>Cart Empty ☹️</h1>
                <p class="">Your probably haven't ordered a pizza yet. To order a Pizza, go to menu page</p> 
                <img src="/img/empty-cart.png" alt="">
                <a href="/menu" class="btn-primary">Menu</a>
            </div>
        </div>
    </section>
</body>
</html>