<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    {{> navbar}}
    <section class="home-section">
        <div class="container">
            <div class="home-left">
                <p>Are you hungry ?</p>
                <h1>Don't Wait</h1>
                <a href="/menu" class="btn-primary">Order Now</a>
            </div>
            <div class="home-right">
                <img src="/img/home-pizza.png" alt="">
            </div>
        </div>
    </section>
</body>
</html>