<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>
<body>
    {{> navbar}}
    <section class="register-section">
        <div class="small-container">
            <h1 class="register-heading">Register</h1>
            <form action="/auth/register" method="POST" class="register-form">
                <input type="text" placeholder="Your Name" name="name">
                <input type="email" placeholder="Your Email" name="email">
                <input type="password" placeholder="Your Password" name="password">
                <div class="register-bottom">
                    <a href="/auth/login">Already have an account?</a>
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </section>
</body>
</html>